<h2>Anime Super Component</h2>
<hr>

<section class="row">
    <div class="col-12 col-sm-6"> 
        <!-- Se corta el formulario y se pega en character.form para importarlo independiente-->
        <!-- Inicia Componente de Formulario -->

        <!-- Emite el evento newCharacter hacia el padre, ejecuta addCharacter($event) y agrega al signal-->
         <app-character-form (newCharacter)="addCharacter($event)"/>

        <!-- Finaliza Componente de Formulario -->
    </div>
 
    <div class="col-12 col-sm-6"> 
        <!-- El contenido se mueve hacia character-list.component.HTML -->
        <!-- Inicia Componente de Lista -->

        <!-- Recibe el array characters desde el signal del padre y se actualiza automáticamente cuando se agrega un personaje -->
        <app-character-list [characters]="characters()"/>

        <!-- Finaliza Componente de Lista -->

    </div>

</section>